@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2d3748;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 4px;
}